# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env
.venv/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Local development settings
.env
.env.local
*.env

# Logs
*.log
logs/

# Temporary files
*.tmp
.DS_Store

# Project specific
work/
storage/
*.csv
*.xlsx
*.pdf

# .zip file
pyservice-main.zip

# estudos_github_github
/estudos_github_github/anotacoes.txt